<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e628a0244b5bf5" async="async"></script>

<script> 
  // footer
  particlesJS.load('particles-js-footer', '/js/particles-footer.json', function() {
    console.log('callback - particles.js config loaded');
  });
</script>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('require', 'displayfeatures');
  ga('create', 'UA-57879066-1', 'auto');
  ga('send', 'pageview');

</script>

<footer class="site-footer">
  <div style="overflow:hidden;position:relative">
    <div class="wrapper">

      <h2 class="footer-heading"><a href = "/">Kobakhit.com</a></h2>

      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list unstyled">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>

        <div class="footer-col footer-col-2">
          <ul class="social-media-list unstyled">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="footer-col footer-col-3">
          <p>{{ site.description }}</p>
          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
      </div>
    </div>

    <!-- Particlesjs banner -->
    <div class="parallax">
      <div id="particles-js-footer"></div>
    </div>
  </div>

</footer>
