<header>
  <div class="slider">
    <ul class="slides">
      <li>
        <div id="particles-js"></div>
        <div class="caption center-align">
          <h3 class=''>Particles-js</h3>
          <h5 class="light grey-text text-lighten-3">created by <a href="https://github.com/VincentGarreau/particles.js">VincentGarreau</a></h5>
        </div>
      </li>
      <li>
        <img src="/img/net.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class='strokeme'>Force graph using igraph and R</h3>
        </div>
      </li>
    </ul>
  </div>

  {% include navbar.html %}
</header>
