<ul class="unstyled collapsible" data-collapsible="accordion">
  {% for post in site.posts %}
  <li>
    <div class="collapsible-header active hoverable">
      <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }} •
        {{ post.author }}
      </div>
      <a class="post-link" style = "display: inline-block;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <br>
      {% for cat in post.categories %}
        <a href="{{$baseurl}}/categories/{{ cat | urlize }}/"><span class = "chip-cat">{{ cat }}</span></a>
      {% endfor %}
      {% for tag in post.tags %}
        <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/"><span class = "chip">#{{ tag }}</span></a>
      {% endfor %}
      {% if post.reddit %}
       <a href="{{ post.reddit }}"><i class="fa fa-reddit-alien fa-lg"></i></a>
      {% endif %}
    </div>

    <div class="collapsible-body">
      <p>{{ post.excerpt }}<br><a href = "{{post.url}}">...Read more</a></p>
    </div>
  </li>
  {% endfor %}
</ul>