<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2 style = "padding-bottom: 0px;margin-bottom:0px">
        <a class="post-link" style = "padding-bottom: 0px;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class = "post-meta">by {{ post.author }}</span> 

      <div>
        {% include tag-list.html %}
        {% if post.reddit %}
       <a href="{{ post.reddit }}" target="_blank"><i class="fa fa-reddit-alien fa-lg"></i></a>
      {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>