<ul class="unstyled collapsible" data-collapsible="accordion">
  {% for post in site.posts %}
  <li>
    <div class="collapsible-header active hoverable">
      <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }} •
        {{ post.author }}
      </div>
      <a class="post-link" style = "display: inline-block;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <br>
      {% include tag-list.html %}
      {% if post.reddit %}
       <a href="{{ post.reddit }}" target="_blank"><i class="fa fa-reddit-alien fa-lg"></i></a>
      {% endif %}
    </div>

    <div class="collapsible-body">
      <p>{{ post.excerpt }}<br><a href = "{{post.url}}">...Read more</a></p>
    </div>
  </li>
  {% endfor %}
</ul>