---
layout: default
---
<article id = "section-to-print" class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
    	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    	{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} •
      {% for cat in page.categories %}
        <a href="{{$baseurl}}/categories/{{ cat | urlize }}/"><span class = "chip-cat">{{ cat }}</span></a>
      {% endfor %}
    	{% for tag in page.tags %}
    		<a href="{{$baseurl}}/tags/{{ tag | urlize }}/"><span class = "chip">#{{ tag }}</span></a>
    	{% endfor %}
    </p>

    <p class = "post-meta">
      Save as <a href="javascript:void(0)" onClick="window.print()"> PDF</a>
      {% if page.ipynb %}
       • <a href="{{ page.ipynb }}"> IPythonNotebook</a> 
       {% endif %}
       {% if page.rmd %}
       • <a href="{{ page.rmd }}"> Rmarkdown</a> 
       {% endif %}
       {% if page.rpubs %}
       • <a href="{{ page.rpubs }}" target="_blank"> RPubs</a> 
       {% endif %}
       {% if page.reddit %}
       • <a href="{{ page.reddit }}"><i class="fa fa-reddit fa-2x"></i></a>
       {% endif %}
    </p>

    <!-- Share buttons. Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>
  
  <!-- Disqus comments -->
  <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'kobakhit'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>

</article>
